<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>小黑学习网</h3>

        姓名：
            <input type="text" v-model="username">
            <br><br>

        是否单身：
            <input type="checkbox" v-model="isSingle">
            <br><br>

        性别：
            <input v-model="gender" type="radio" name="gender" value="1">男
            <input v-model="gender" type="radio" name="gender" value="2">女
            <br><br>

        所在城市：
            <select v-model="cityId">
                <option value="101">北京</option>
                <option value="102">上海</option>
                <option value="103">成都</option>
                <option value="104">南京</option>
            </select>
            <br><br>

        自我描述：
            <textarea v-model="desc"></textarea>
            <br><br>

        <button>立即注册</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
        const app=new Vue({
            el:'#app',
            data:{
                username:'',
                isSingle: true,
                gender:'1',
                cityId:'102',
                desc:""
            }
        })
    </script>
</body>
</html>